.tooltip-inner {
  max-width: none !important;
}

.div-nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.fixed-alert-container {
  /* Set the positioning context */
  position: fixed;

  /* Place the alert in the top-right corner */
  top: 5px;
  right: 2vw;

  /* Optional: ensure it appears above other content */
  z-index: 1050;

  /* Optional: limit the width so it doesn't span the whole screen */
  width: 96vw;
}

#main-form-tabs {
  position: sticky;
  top: 0;
  z-index: 200;
  background-color: #fff;
}

.identifier-variation-btn {
  min-width: stretch;
}

.identifier-variation-header {
      text-align: center;
    font-weight: bold;
    background: #0dcaf0;
    margin: 0 12px;
    padding: 8px;
    border-radius: 6px;
}