$header-height: 130px; // static height, manually computed
$break-point: 990px;

@media not (min-width: $break-point) {
  body {
    overflow: auto;
  }
}

@media (min-width: $break-point) {
  body {
    overflow: hidden;
  }
  .scroll {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
    padding-right: 10px;
    padding-bottom: 40px;
  }
}
