$header-height: 130px; // static height, manually computed
$break-point: 990px;

.scroll {
  @media (min-width: $break-point) {
    height: calc(100vh - #{$header-height});
    overflow-y: auto;
    padding-right: 10px;
    padding-bottom: 40px;
  }
}
