.panel {
    .form-group {
        margin-bottom: 10px;
    }

    .list-group {
        padding-left: 0;
        margin-bottom: 10px;

        .list-group-item {
            padding-bottom: 0;
        }
    }
}
