pre {
  background-color: rgb(249, 249, 249);
  counter-reset: line;

  .code-line-index {
    display: inline-block;

    width: 4em;
    padding-right: 1em;
    margin-right: 1em;

    text-align: right;
    border-right: 1px solid silver;

    button {
      display: inline-block;
    }

    span {
      display: inline-block;
    }
  }

  .active-header-select {
    background-color: #0dcaf088;
    padding: 1px 5px;
    border-radius: 3px;
  }



  code {
    display: inline-block;
  }

}
