@use "bootstrap/dist/css/bootstrap.css";
@use "ag-grid-community/styles/ag-grid.css";
@use "ag-grid-community/styles/ag-theme-alpine.css";
@use "components/layout";
@use "components/pre";
@use "components/table";
@use "components/admin";
