@use "sass:meta";
@use "components/layout";

@import "bootstrap/dist/css/bootstrap.css";
@import "ag-grid-community/styles/ag-grid.css";
@import "ag-grid-community/styles/ag-theme-alpine.css";
@include meta.load-css("components/pre");
@include meta.load-css("components/table");
@include meta.load-css("components/admin");
