name: AddBuild
on:
  workflow_dispatch:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: 22.14.0
          registry-url: https://registry.npmjs.org/

      - name: Install deps
        run: yarn install --frozen-lockfile

      - name: Build
        run: |
          yarn build:prod
          yarn build:bundle
          rm -rf "./build" 2>/dev/null
          mv ./public ./build
          mv ./dist/* ./build

      - name: Configure git
        run: |
          git config user.name "github-actions"
          git config user.email "actions@github.com"

      - name: Commit changes
        run: |
          git add -A
          git commit -m "Update [skip ci]" || echo "nothing to commit"

      - name: Push changes
        if: github.ref_type != 'pull_request'
        run: |
          git push https://${{ secrets.GH_PAT }}@github.com/${{ github.repository }}.git HEAD:refs/heads/${GITHUB_REF_NAME}

